@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("EB Garamond"),
    local("eb garamond"),
    local("ebgaramondmedium"),
    url(/fonts/fonts/ebgaramondmedium.woff2) format("woff2"),
    url(/fonts/fonts/ebgaramondmedium.woff) format("woff"),
    url(/fonts/fonts/ebgaramondmedium.ttf) format("ttf");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("EB Garamond"),
    local("eb garamond"),
    local("ebgaramondregular"),
    url(/fonts/fonts/ebgaramondregular.woff2) format("woff2"),
    url(/fonts/fonts/ebgaramondregular.woff) format("woff"),
    url(/fonts/fonts/ebgaramondregular.ttf) format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("Inter"),
    local("inter"),
    local("interregular"),
    url(/fonts/fonts/interregular.woff2) format("woff2"),
    url(/fonts/fonts/interregular.woff) format("woff"),
    url(/fonts/fonts/interregular.ttf) format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("Inter"),
    local("inter"),
    local("interregular"),
    url(/fonts/fonts/interbold.woff2) format("woff2"),
    url(/fonts/fonts/interbold.woff) format("woff"),
    url(/fonts/fonts/interbold.ttf) format("ttf");
}
