body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}
.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  min-height: 198px;
  padding: 7px 24px 32px 20px;
  background-image: url(/images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover-title {
  width: 100%;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  line-height: 1;
  font-size: 72px;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 20px 37px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro__date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}
